p {
    color: black;
    font-size: 18px;
    }
    
    .title {
    color: #167C80;
    }
    
    .lead {
    color: #167C80;
    }
    
    body {background-color: #FFEFE5;}
    
    
    .container {
      justify-content: center;
      flex-direction: row;
      width: fit-content
      height: fit-content
    }
    
    .flex-item {
      margin: 10px;
    }
    
    .left {
      padding: 20px;
      height: 100%;
      Width: 45%;
      float: left;
  }
  
    .right {
      padding: 20px;px
      height: 100%;
      width: 45%;
      float: right;
  }
  
